.page-enter-active,
.page-leave-active {
  transition: opacity 0.35s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.contentWrapper section {
  padding: 1.25em;
}

@media (max-width: 679px) {
  .siteTitle {
    font-size: 1.25em !important;
  }
}
